
<!DOCTYPE html>
<html>
<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3ZKSSSKWWY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3ZKSSSKWWY');
</script>
	<title>CodsUP</title>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://cdn.discordapp.com/icons/778252643758899210/3624b22d44662b486b8ac8fb71a2c732.webp?size=128" type="image/x-icon" />
<meta property="og:image" content="https://cdn.discordapp.com/icons/778252643758899210/3624b22d44662b486b8ac8fb71a2c732.webp?size=128"> 
<meta http-equiv="Content-Language" content="tr"> 
<meta property="og:title" content="CodsUP "> 
<meta property="og:description" content="CodsUP Resmi Websitesi"> 
<meta name="keywords" content="">
<meta name="robots" content="Emre, Codsup" />
<meta property="og:type" content="website"> 
 <script src="player-bundle.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style type="text/css">
    html, body {
    height: 100%;
}


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}

.area{
    background: #424949;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}
.container {

    height: 100%;
    padding: 0;
    margin: 0;
  
    align-items: center;
    justify-content: center;   
    flex-wrap: wrap;
}

/*
.container > div {
  
    order: 1;
    max-width: 100%;
    text-align: center;
}*/

.container img {
    height: 150px;
    display: block;
    margin: 0 auto;
    width: 150px;
}



input[type="text"] {
    margin-top: 10px;
    margin-right: 5px;
    border: 2px solid #bdc3c7;
    color: #34495e;
    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 1.467;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: none;
    -webkit-transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
}

.btn {
    white-space: normal;
  width: 115px;
    height: 25px;
    padding: 10px 10px;
    font-size: 17px;
    line-height: 1.500;
    border-radius: 6px;
    color: #ffffff;
    background-color: #2980b9;
    border: none;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    text-decoration: none;
    transition: border 0.25s linear, color 0.25s linear, background-color 0.25s linear;
}

.btn:hover {
    background-color: #3498db;
    border-color: #3498db;
    outline: none;
}

.btn:active {
    outline: none;
}
    
		.tum-sayfa {
			width: 400px; 
			height:450px;
			background-color:white; 
			margin-left:auto; 
			margin-right:auto;
			margin-top:70px; 
			border-radius:10px;
			-webkit-box-shadow: 2px -7px 30px -3px rgba(0,0,0,1);
-moz-box-shadow: 2px -7px 30px -3px rgba(0,0,0,1);
box-shadow: 2px -7px 30px -3px rgba(0,0,0,1);
		}

		.fa-instagram{
		float: left;
			margin-top: 10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}
.fa-spotify{
		float: left;
			margin-top: 10px;
			margin-left: 28px;
			color: black;
			font-size: 45px;
		}
 .fa-whatsapp{
  float: left;
			margin-top: 10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}

.fa-steam{
		float: left;
			margin-top: -10px;
			margin-left: 28px;
			color: black;
			font-size: 45px;
		}
.fa-github{
		float: left;
			margin-top: -10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}
.fa-reddit{
		float: left;
			margin-top: -10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}
.fa-discord{
		float: left;
			margin-top: -10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}
		.fa-youtube{
			float: left;
			margin-top: -10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}
		#foto{
			float: left;
			margin-left:67px; 
			width: 95px;
			height: 95px;
			margin-top: 35px;
			border-radius: 40px;
		}
		#foto:hover{
			border-radius: 10px;
		}
		.fa-twitter-square{
		float: left;
			margin-top: -10px;
			margin-left: 38px;
			color: black;
			font-size: 43px;
		}
		.fa-facebook-square{
		float: left;
			margin-top: -10px;
			margin-left: 38px;
			color: black;
			font-size: 43px;
		}
.fa-book-open{
		  float: left;
			margin-top: 10px;
			margin-left: 28px;
			color: black;
			font-size: 43px;
		}

		.fa-instagram-square:hover,.fa-book-open:hover,.fa-steam:hover,.fa-whatsapp:hover,.fa-reddit:hover,.fa-spotify:hover,.fa-facebook-square:hover,.fa-discord:hover,.fa-github-square:hover,.fa-twitter-square:hover,.fa-youtube:hover{
			color: 	#424949;
			opacity: 0.7;
		}

		h1{
			float: left;
			font-size: 25px;
			margin-top: -75px;
			color: black;
			width: 500px;
			text-align: center;
			font-weight: bold;
		}
		h1:hover{
			letter-spacing: 2px;
      
		}
    #soz{
			float: left;
			font-size: 14px;
			margin-top: -75px;
			color: black;
			width: 500px;
			text-align: center;
			font-weight: bold;
    }
#mp6{
			float: left;
			font-size: 14px;
			margin-top: 6px;
			color: black;
			width: 1000px;
			text-align: left;
			font-weight: bold;
    }
#rte{
			float: right;
			font-size: 14px;
			margin-top: -10px;
			color: black;
			width: 80px;
			text-align: center;
			font-weight: bold;
    }
		h4{
			float: left;
			margin-top: 0px;
			width: 500px;
			font-size: 15px;
			text-align: center;
		}
    #31{
      height: 20px;
    }
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

	</style>
</head>
<body>


<div class="area" >
  
            <ul class="circles">
              
 
                        
	<div class="tum-sayfa">
	
		<img src="https://cdn.discordapp.com/attachments/772117455454601276/772589104382738462/6366851.png" style="float: left;
			font-size: 25px;
			margin-top: 10px;
			color: black;
			width: 100px;
			text-align: left;
			font-weight: bold; !important;" id="foto">
   <h1>Emre</h1>
<div style="height: 140px">

    </div>
<p id="soz">Kendince takılan biri</p>
		<hr style="color: black;float: left;width: 398px;margin-top: -30px;">
<a href="https://discord.gg/jYxNwk4Z4X"><i class="fab fa-discord" aria-hidden="true"></i></a>
<p id="mp6">Günün Sözü:</p>
<audio controls>
    <source src="https://cdn.discordapp.com/attachments/773146649403850752/773277686781050900/sel.mp3"/>
  </audio>
<p id="mp6">Projelerim:<a href="https://www.codsup.tk/uptime" aria-hidden="true">Uptime Servisi</a>
<a href="https://www.codsup.tk/kisalt" aria-hidden="true">Link Kısaltma</a>,</p> 
<p id="mp6"></p>
<p id="mp6">Müzik 
<button onclick="play()"><i class="fas fa-play-circle"></i></button>
    <button onclick="pause()"><i class="fas fa-pause-circle"></i></button>
       <button value = "Refresh" onclick="history.go(0)"><i class="fas fa-redo-alt"></i></i></button>
    <input type="range" min="0" max="100" value="80" class="slider" id="volume-range"></p>
 </div>
   <script>
      var volume = document.getElementById("volume-range");
      volume.oninput = function () {
          setVolume(this.value);
      }
</script>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
    </ul>	</div>
  
 
</body>
</html>