<html>
      <title>Türk Federasyonu</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="theme-color" content="#14bae4">
  	<meta property="og:image" content="https://cdn.discordapp.com/icons/515563764913930240/a_3dee9e86a04e1125f9a3c93af585674d.webp?size=128">
    <link rel="icon" type="image/x-icon" href="https://cdn.discordapp.com/icons/515563764913930240/a_3dee9e86a04e1125f9a3c93af585674d.webp?size=128">
    <meta content="Türk Federasyonu" property="og:title" />
    <meta content="Yetkilisi Olduğum Topluluktur. Türk Federasyonu [TF] Gerek Yazılımsal, Gerek Her Dalda Yer Sağlayıcıdır. TF'ye Ait Çok Fazla Proje Vardır. Topluluğun Çok Fazla Ayrı Dallarda Hedefleri de Bulunmaktadır. Sizi de Bekleriz." property="og:description" />
    <meta content="Yetkilisi Olduğum Topluluktur. Türk Federasyonu [TF] Gerek Yazılımsal, Gerek Her Dalda Yer Sağlayıcıdır. TF'ye Ait Çok Fazla Proje Vardır. Topluluğun Çok Fazla Ayrı Dallarda Hedefleri de Bulunmaktadır. Sizi de Bekleriz." name="description " />
    <meta name="revisit-after" content="2 days">
    <meta name="keywords"
        content="Yetkilisi Olduğum Topluluktur. Türk Federasyonu [TF] Gerek Yazılımsal, Gerek Her Dalda Yer Sağlayıcıdır. TF'ye Ait Çok Fazla Proje Vardır. Topluluğun Çok Fazla Ayrı Dallarda Hedefleri de Bulunmaktadır. Sizi de Bekleriz.">
    <meta property="og:locale" content="tr_TR" />
    <link rel="canonical" href="https://www.codsup.tk/" />
    <meta property="og:url" content="https://www.codsup.tk/" />
    <meta property="og:site_name" content="Türk Federasyonu" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@TF" />
    <meta name="yandex-verification" content="76a6eb470f85fb3c" />
      <meta http-equiv="refresh" content="1;URL=https://discord.gg/a6xMUApWQZ">
    <html>Yönlendiriliyorsunuz...</html>
</html>